<a href="https://colab.research.google.com/github/Randresil/TimeSeries_R_Python/blob/main/2_Python_Series_Temporales.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Serie temporal en Python

## Secci칩n 4

### 1. Importaci칩n de paquetes

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

### 2. Importaci칩n de datos

In [43]:
raw_data = pd.read_csv('Index2018.csv')

df = raw_data.copy()

### 3. Tama침o de periodos de tiempo

In [8]:
df.describe()

               spx           dax         ftse        nikkei
count  6269.000000   6269.000000  6269.000000   6269.000000
mean   1288.127542   6080.063363  5422.713545  14597.055700
std     487.586473   2754.361032  1145.572428   4043.122953
min     438.920000   1911.700000  2876.600000   7054.980000
25%     990.671905   4069.350000  4486.100000  10709.290000
50%    1233.420000   5773.340000  5662.430000  15028.170000
75%    1459.987747   7443.070000  6304.250000  17860.470000
max    2872.867839  13559.600000  7778.637689  24124.150000

In [9]:
df.head()

         date     spx      dax     ftse    nikkei
0  07/01/1994  469.90  2224.95  3445.98  18124.01
1  10/01/1994  475.27  2225.00  3440.58  18443.44
2  11/01/1994  474.13  2228.10  3413.77  18485.25
3  12/01/1994  474.17  2182.06  3372.02  18793.88
4  13/01/1994  472.47  2142.37  3360.01  18577.26

In [6]:
df['date'].describe()

count           6269
unique          6269
top       07/01/1994
freq               1
Name: date, dtype: object

### 4. De Texto (String) a Fecha

In [10]:
df['date'] = pd.to_datetime(df['date'], dayfirst = True)

In [11]:
df.head()

        date     spx      dax     ftse    nikkei
0 1994-01-07  469.90  2224.95  3445.98  18124.01
1 1994-01-10  475.27  2225.00  3440.58  18443.44
2 1994-01-11  474.13  2228.10  3413.77  18485.25
3 1994-01-12  474.17  2182.06  3372.02  18793.88
4 1994-01-13  472.47  2142.37  3360.01  18577.26

In [10]:
df['date'].describe()

<ipython-input-10-07e98f8ab9f6>:1: FutureWarning: Treating datetime data as categorical rather than numeric in `.describe` is deprecated and will be removed in a future version of pandas. Specify `datetime_is_numeric=True` to silence this warning and adopt the future behavior now.
  df['date'].describe()

count                    6269
unique                   6269
top       1994-01-07 00:00:00
freq                        1
first     1994-01-07 00:00:00
last      2018-01-29 00:00:00
Name: date, dtype: object

### 5. Fijando fecha como el 칤ndice

In [12]:
df.set_index('date', inplace = True) # Inplace permite que sea guardado

In [13]:
df.head()

               spx      dax     ftse    nikkei
date
1994-01-07  469.90  2224.95  3445.98  18124.01
1994-01-10  475.27  2225.00  3440.58  18443.44
1994-01-11  474.13  2228.10  3413.77  18485.25
1994-01-12  474.17  2182.06  3372.02  18793.88
1994-01-13  472.47  2142.37  3360.01  18577.26

### 6. Establecimiento frecuencia deseada

In [14]:
# h de hourly
# w weekly
# d daily
# b business days
# m monthly
# a annually

df = df.asfreq('d')

In [15]:
df.head()

               spx      dax     ftse    nikkei
date
1994-01-07  469.90  2224.95  3445.98  18124.01
1994-01-08     NaN      NaN      NaN       NaN
1994-01-09     NaN      NaN      NaN       NaN
1994-01-10  475.27  2225.00  3440.58  18443.44
1994-01-11  474.13  2228.10  3413.77  18485.25

In [16]:
df = df.asfreq('b') # b se refiere a dias laborales (Lun-Vie)

In [17]:
df.head()

               spx      dax     ftse    nikkei
date
1994-01-07  469.90  2224.95  3445.98  18124.01
1994-01-10  475.27  2225.00  3440.58  18443.44
1994-01-11  474.13  2228.10  3413.77  18485.25
1994-01-12  474.17  2182.06  3372.02  18793.88
1994-01-13  472.47  2142.37  3360.01  18577.26

### 7. Manejando missing values

In [19]:
df.isna()

              spx    dax   ftse  nikkei  market_value
date
1994-01-07  False  False  False   False         False
1994-01-10  False  False  False   False         False
1994-01-11  False  False  False   False         False
1994-01-12  False  False  False   False         False
1994-01-13  False  False  False   False         False
...           ...    ...    ...     ...           ...
2018-01-23  False  False  False   False         False
2018-01-24  False  False  False   False         False
2018-01-25  False  False  False   False         False
2018-01-26  False  False  False   False         False
2018-01-29  False  False  False   False         False

[6277 rows x 5 columns]

In [20]:
df.isna().sum()

spx             8
dax             8
ftse            8
nikkei          8
market_value    8
dtype: int64

In [21]:
# M칠todo fillna
# ffill is front filling

df.spx = df.spx.fillna(method = 'ffill')

In [22]:
df.ftse = df.ftse.fillna(method = 'bfill')

In [25]:
df.nikkei = df.nikkei.fillna(method = 'bfill')

In [23]:
df.dax = df.dax.fillna(value = df.dax.mean())

In [26]:
df.isna().sum()

spx             0
dax             0
ftse            0
nikkei          0
market_value    8
dtype: int64

### 8. Simplificando DataSet

In [44]:
df['market_value'] = df.spx

In [29]:
df.describe()

               spx           dax         ftse        nikkei  market_value
count  6277.000000   6277.000000  6277.000000   6277.000000   6277.000000
mean   1288.642547   6080.063363  5423.690398  14597.597179   1288.642547
std     487.868210   2752.604984  1145.568370   4043.683038    487.868210
min     438.920000   1911.700000  2876.600000   7054.980000    438.920000
25%     992.715221   4070.460000  4487.880000  10701.130000    992.715221
50%    1233.761241   5774.380000  5663.300000  15030.510000   1233.761241
75%    1460.250000   7442.660000  6304.630175  17860.470000   1460.250000
max    2872.867839  13559.600000  7778.637689  24124.150000   2872.867839

In [45]:
# Comando del
# Eliminar variable/columna de un dataset

del df['spx']

In [31]:
df.describe()

                dax         ftse        nikkei  market_value
count   6277.000000  6277.000000   6277.000000   6277.000000
mean    6080.063363  5423.690398  14597.597179   1288.642547
std     2752.604984  1145.568370   4043.683038    487.868210
min     1911.700000  2876.600000   7054.980000    438.920000
25%     4070.460000  4487.880000  10701.130000    992.715221
50%     5774.380000  5663.300000  15030.510000   1233.761241
75%     7442.660000  6304.630175  17860.470000   1460.250000
max    13559.600000  7778.637689  24124.150000   2872.867839

In [46]:
del df['dax']
del df['ftse']
del df['nikkei']

In [34]:
df.describe()

       market_value
count   6277.000000
mean    1288.642547
std      487.868210
min      438.920000
25%      992.715221
50%     1233.761241
75%     1460.250000
max     2872.867839

### 9. Separando la data

In [35]:
size = int(len(df)*0.8) # 80% de los datos

In [52]:
df_test1 = df.iloc[: size] # Agarrar todos los datos de inicio hasta size

In [51]:
df_test = df.iloc[size :] # Agarrar todos los datos desde size hasta final

In [39]:
print(size)

5021

In [53]:
df_test1.tail()

            date  market_value
5016  05/04/2013   1553.278930
5017  08/04/2013   1563.071269
5018  09/04/2013   1568.607909
5019  10/04/2013   1587.731827
5020  11/04/2013   1593.369863

In [54]:
df_test.head()

            date  market_value
5021  12/04/2013   1588.854623
5022  15/04/2013   1552.363572
5023  16/04/2013   1574.566985
5024  17/04/2013   1552.014896
5025  18/04/2013   1541.613396